CONFIGURATIONS="Debug"
ProvisionFileDebug=DevApp.mobileprovision
CodesignDebug="iPhone Developer: Karl Koder (895Y8Z52QS)"
KeychainPasswordDebug=
KeychainDebug="KarlKoder.keychain"
OTAURL="http://hugelawn.com/beta"
OTASmallIcon=app_icon_57px.png
OTALargeIcon=app_icon_512px.png
INFOPLIST="ViewWorld-Info"